body {
    background-color:#77D9A1
}

#Titulo {
    color:rgb(193, 127, 255);
    text-align: center;
    font-size: 80px;
}

.texto1 {
    color:rgb(7, 131, 172);
    text-align: justify;
    font-size: 35px;
}

.texto2 {
    color:blueviolet;
    text-align:left;
    font-size: 35px;
}

.conteudo {
    background-color:blue;
}

.lista {
    background-color: #045527;
}