body {
    background-color:aquamarine
}

#Titulo {
    color:rgb(193, 127, 255);
    text-align: center;
    font-size: 80px;
}

.texto1 {
    color:deepskyblue;
    text-align: justify;
    font-size: 35px;
}

.texto2 {
    color:blueviolet;
    text-align:right;
    font-size: 35px;
}