body {
    background-color:goldenrod
}

#titulo {
    color:aquamarine;
    text-align: left;
    font-size: 80px;
}

.texto1 {
    color:deepskyblue;
    text-align: justify;
    font-size: 35px;
}

.texto2 {
    color:blueviolet;
    text-align: justify;
    font-size: 35px;
}